import(igraph, jointDiag, clue, pcalg, ggplot2)
importFrom(matrixcalc, is.singular.matrix)
importFrom(reshape2, melt)
export(backShift, simulateInterventions, generateA, metricsThreshold, plotGraphEdgeAttr, plotInterventionVars, plotDiagonalization)